<h1>Recuperar cuenta</h1>
<br> <br>
<form action="/api/sessions/restaurar" method="post" id="Form Login">

    Mail:
    <input type="email" name="email" id="email" /> <br>

    Nueva contraseña:
    <input type="password" name="password" id="password" /><br>

    <input type="submit" value="Restaurar" />

</form>